body{
  background-color: #EAF6F6;
}

hr{
  background-color: transparent;
  border-style: dotted none none;
  border-width: 5px 0 0;
  border-color: #a6a6a6;
  width: 10%;

}

h1{
  color: #66bfbf;
}

h2{
  color: #66bfbf;
}



h4{
  color: #66bfbf;
}

a:link{
  color: #66bfbf;
}

a:visited{
  color: blue;
}
a:hover{
  font-size: 15px;
}

#submit{
  color: white;
  font-size: 15px;
  border-radius:10px;
  height: 25px;
  width: 100px;
  background-color: #66bfbf;
  border-style: none;


}
#submit:hover{
  height: 23px;
}

h3{
  color: white;
  border-radius:10px 4px;
  background-color: #66bfbf;
  height: 25px;
  width: 10%;
  text-align: center;
}

.form2{
  color: white;
  border-radius:10px 4px;
  background-color: #66bfbf;
  height: 25px;
  width: 12%;
  text-align: center;
}
